{{ define "main" }}
  <article>
      <h1 style="margin-bottom:5%;">About Me</h1>
	  <p>
		  Software Engineer with over 10 years of experience in web development, specialized in back-end.<br><br>Made projects using languages like PHP, and utilizing frameworks like Laravel for exmaple and CMSs like WordPress, I did several projects with WordPress including programming of WordPress plugins, developing a simple theme, installing and modifying paid themes.<br><br>
		  Experiences inlclude Linux Administration, installing and maintaing a VPS, Database design and development.
	  </p>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
