	  <h3>- Stackoverflow</h3>
	  <a href="https://stackoverflow.com/users/2760325/ahmad-essam"><img src="https://stackoverflow.com/users/flair/2760325.png" width="208" height="58" alt="profile for Ahmad Essam at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Ahmad Essam at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
	  <h3>- Meduim Articles</h3>
	  <a href="https://medium.com/@ahmadessamdev">
	      {{ $image := resources.Get "images/meduim_screenshot.png" }}
	      {{ with $image }}
	      <img src="{{ $image.RelPermalink }}" width="50%" height="50%" alt="Ahmad Essam on Medium" title="Ahmad Essam on Medium">
	      {{ end }}
  	  </a>
	  
